.pokemon-list .pokemon-list-item { 
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;

  @media (min-width: 960px) { width: 20% }
  @media (max-width: 960px) { width: 50% }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}

.pokemon-image {
  height: 96px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  
  img { 
    display: inline-block; 
    max-height: 96px;
  }
}

.pokemon-id { 
  display: block;
  height: 22px;
  line-height: 22px;
}

.pokemon-name {
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}
